@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@200;300&family=Raleway:wght@200;300;400&family=Roboto:wght@300;400&display=swap');@import url('https://fonts.googleapis.com/css2? family= Cairo:wght@200;400;500;600 & family= Montserrat:wght@200;300;400 & family= Playfair+ Display:wght@400;500 & family= Poppins:wght@200;300 & family= Raleway:wght@200;300;400 & family= Roboto:wght@300;400 & display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cajaAviso {
    height: 30px;
    background-color: #2c6e49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pAviso {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.aAviso {
    color: white;
}

.aAviso:hover {
    color: rgba(255, 255, 255, 0.705);
    transition: all .4s;
}

/*NAVBAR*/


.navB {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 60px;
    grid-template-areas: "caja1NavB caja1NavB caja1NavB"
                         "caja2NavB caja2NavB caja2NavB";
   position: sticky;
   top: 0;                      
}

.caja1NavB {
grid-area: caja1NavB;
background-color: white;
width: 100%;
display: flex;
}

.box1NavB {
    width: 33%;
    display: flex;
    justify-content: start;
   align-items: center;
}

.pNavb {
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    padding-left: 30px; 
    color:#2c6e49;
}

.spanNavB {
    font-size: 25px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

.box2NavB {
width: 33%;
display: flex;
align-items: center;
justify-content: center;
}

.buttonNavB {
    height: 35px;
    margin-right: 2px;
    padding: 10px;
    color: #2c6e49;
    border: 1px solid;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.inputNavB {
    height: 35px;
    width: 300px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.box3NavB {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: end;
    }

 .imgNavB {
    width: 30px;
   margin-right: 20px;
 }   
    

.caja2NavB {
    grid-area: caja2NavB;
    background-color: #2c6e49;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  
    }

.ulCaja2NB {
    display: flex;
    list-style: none;
}    

.ulCaja2NB .liCaja2NB  {
    padding: 20px 30px;  
 }


 .ulCaja2NB .liCaja2NB .aCaja2NB {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    transition: all .4s;
    letter-spacing: 1px;
}

.ulCaja2NB .liCaja2NB .aCaja2NB:hover {
   color: rgba(255, 255, 255, 0.705)
}

/*SECCION 1*/

/*SECCION 2*/

.seccion2Inicio {
    margin-top: 200px;
    height: 200px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cajaS2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.pS2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.imgS2 {
    width: 100px;
}



/*SECCION 3*/

.seccion3Inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.imgS3 {
    width: 250PX;
}

.hp {
    width: 230px;
}

/*FOOTER*/

footer {
    display: flex;
    height: 250px;
    background-color: #1c1c1c;

}

.logoFooter {
    padding-bottom: 60px;
    padding-left: 20px;
}

.spanFooter {
    color: white;
}

.imgFooter {
    width: 50px;
}

.cajaIconos {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.iconosFooter {
    width: 50px !important;
    height: 50px;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
}

.iconosFooter:hover {
    transform: scale(1.02);
}

.ig {
    width: 90px !important;
    height: 90px;
    padding: 37px 40px 0px 0px
}


.infoFooter {
    width: 33%;
    margin-top: 40px;
    margin-left: 80px;
}

.sF {
    color: white;
}

.boxInfo {
    display: flex;
    align-items: center;
    margin: -10px 10px; 
}

.imgInfo {
    width: 60px;
}

.mail {
    width: 38px;
    margin-left: 9px;
    margin-bottom: 5px;
}

.telefono {
    width: 50px;
   margin-left: 2px;
   margin-bottom: 2px;
}

.pInfo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.pTelefono {
    margin-left: 10px;
}

.pMail {
    margin-left: 15px;
}

/***CONTACTO***/

.mainContacto {
    display: flex;
}

.seccionContacto {
    height: 500px;
    width: 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContacto {
    height: 500px;
    margin-top: 200px;
    margin-bottom: 70px;
    width: 80%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "boxNombre boxApellido"
                         "boxMail   boxNumero"
                         "boxComentario boxComentario"
                         "boxBoton boxBoton";
}

.boxNombre {
    grid-area: boxNombre;
}

.boxApellido {
    grid-area: boxApellido;
}

.boxMail {
    grid-area: boxMail;
}

.boxNumero {
    grid-area: boxNumero;
}

.boxComentario {
    grid-area: boxComentario;
}

.boxBoton {
    grid-area: boxBoton;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelContacto {
    color: #2c6e49;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.inputContacto {
    border: none;
    border-bottom: 2px solid #1c1c1c3d;
    width: 300px;
    height: 25px;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: all 1s;
}

.inputContacto:hover {
    border-bottom: 2px solid #2c6e49 ;
}

.inputContacto:focus {
    border: none;
    background-color: #2c6e49;
    color: white;
}

.textareaContacto {
    width: 97%;
    height: 40px;
    resize: none;
}

.botonContacto {
    background-color: #1c1c1c;
    color: white;
    margin-right: 20px;
    padding: 12px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all .5s;
}

.botonContacto:hover {
    background-color: #2c6e49;
}

.asideContacto {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2Contacto {
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
}

/*PRODUCTOS*/

.mainProductos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2500px;
    grid-template-areas: "seccion1Productos seccion2Productos seccion2Productos seccion2Productos seccion2Productos";
}

.seccion1Productos {
    height: 2500px;
    grid-area: seccion1Productos;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0px 10px #1c1c1c25;
}

.cajaS1P {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.H2S1P {
    color: #1c1c1cd7;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 50px;
    text-decoration:underline;
}

.pS1P {
    width: 290px;
    color: #1c1c1cd7;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #1c1c1c4f;
    border-top: 1px solid #1c1c1c4f;
}

.spanProd {
    color: #1c1c1c94;
}

.ulProductos {
    margin-left: 50px;
    margin-top: 20px;
}

.ulProductos .liProductos{
    padding: 3px 0px;
    text-align: start;
    width: 240px;
}

.ulProductos .liProductos .aProductos {
    color: #2c6e49;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight:  bold;
    cursor: pointer;
    transition: all .5s;
}

.ulProductos .liProductos .aProductos:hover {
    color:#1c1c1c;
    
}

.seccion2Productos {
    height: 2500px;
    grid-area: seccion2Productos;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-areas: "aside1SP aside1SP aside1SP"
                         "aside2SP aside2SP aside2SP"
                         "aside3SP aside3SP aside3SP"
                         "aside4SP aside4SP aside4SP"
                         "aside5SP aside5SP aside5SP";
}

.aside1SP {
    grid-area: aside1SP;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cajaProduct {
    height: 400px;
    width: 250px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1SP {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.aB1SP {
    text-decoration: none;
    color: white;
    background-color: #2c6e49;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 4px;
    border-radius: 3px;
    font-weight: bold;
}

.box2SP {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img4SP {
width: 200px;
}

.box3SP {
    text-align: center;
}

.h3B3SP {
    padding: 5px;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
}

.pB3SP {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #1c1c1cbe;
}

.box4SP {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boton1B1SP {
    color: white;
    background-color: #2c6e49;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .5s;
}

.boton1B1SP:hover {
    background-color: #1c1c1c;
}

.boton2B1SP {
    color: white;
    background-color: #2c6e49;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: .5s;
}

.boton2B1SP:hover {
    background-color: #1c1c1c;
}

.aside2SP {
    grid-area: aside2SP;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside3SP {
    grid-area: aside3SP;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside4SP {
    grid-area: aside4SP;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside5SP {
    grid-area: aside5SP;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.l5 {
    width: 250px;
}

.l3 {
    width: 170px;
}